= simple_form_for @holiday do |f|
	= f.input :name
	= f.input :address
	= f.input :phone
	= f.input :email
	= f.input :position
	= f.input :from
	= f.input :to
	= f.input :submited
	= f.submit