#holiday_content
	%h1= @holiday.name
	%h1= @holiday.address
	%h1= @holiday.phone
	%h1= @holiday.email
	%h1= @holiday.position
	%h1= @holiday.from
	%h1= @holiday.to 
	%h1= @holiday.submited

	#answers
		= render @holiday.answers

		%h3 Answer to request
		= render "answers/form"
	%br/
	%hr/
	%br/

	= link_to "Home", root_path, class: "button"
